[submodule "third_party/vggt-omega"]
	path = third_party/vggt-omega
	url = https://github.com/facebookresearch/vggt-omega.git
	branch = main
[submodule "third_party/lightglue-onnx"]
	path = third_party/lightglue-onnx
	url = https://github.com/fabio-sim/LightGlue-ONNX.git
	branch = main
[submodule "third_party/cuNLS"]
	path = third_party/cuNLS
	url = https://github.com/nvidia-isaac/cuNLS.git
	branch = main
[submodule "third_party/SelaVPRplusplus"]
	path = third_party/SelaVPRplusplus
	url = https://github.com/Lu-Feng/SelaVPRplusplus.git
	branch = main
