[submodule "third_party/vggt-omega"]
	path = third_party/vggt-omega
	url = https://github.com/facebookresearch/vggt-omega.git
	branch = main
[submodule "third_party/stereospace"]
	path = third_party/stereospace
	url = https://github.com/prs-eth/stereospace.git
	branch = main
[submodule "third_party/lightglue-onnx"]
	path = third_party/lightglue-onnx
	url = https://github.com/fabio-sim/LightGlue-ONNX.git
[submodule "third_party/cuNLS"]
	path = third_party/cuNLS
	url = https://github.com/nvidia-isaac/cuNLS.git
	branch = main
